* {
  box-sizing: border-box;
  position: relative;
}

::selection {
  background-color: #3a9289;
}

.tabbed {
  width: 70%;
  margin: 50px auto;
  color: #eee;
}

.tabbed > input {
  display: none;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 12px 20px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color .3s;
  z-index: 2;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  background: #3a9289;
}

.tabs {
  clear: both;
  perspective: 600px;
  position: relative;
}
.forRadio{
  background: url(http://subtlepatterns.com/patterns/use_your_illusion.png);
  position: absolute;
  height: 45px;
  width: 100%;
  border: 2px solid #3a9289;
  
  
}
.tabs > div {
  width: 100%;
  position: absolute;
  background: url(http://subtlepatterns.com/patterns/use_your_illusion.png);
  border: 2px solid #3a9289;
  padding: 10px 30px 10px;
  line-height: 1.4em;
  opacity: 0;
  transform: rotateX(-20deg);
  transform-origin: top center;
  transition: transform 1s;
  z-index: 0;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4){
  transform: rotateX(0deg);
  opacity: 1;
  z-index: 1;
}


@media screen and (max-width: 1024px) {
  .tabbed{
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .tabbed label{
    padding: 7px;
  }
  .tabs > div {
    font-size: .9em;
    line-height:1.2; 
    padding: 15px;
  }
}

@media screen and (max-width: 480px) {
  .tabs > div {
    font-size: .7em;
  }
}